extends ../layout/base 
block content 
	section.content-header 
		h1 
			| Blank Page
			small it all starts here
		ol.breadcrumb 
			li 
				a(href='#') 
					i.fa.fa-dashboard
					| Level 
			li.active Here 
	section.content
		.box
			.box-header.with-border
				h3.box-title
					| Toko Sembako
				.box-tools.pull-right
					button(type='button', data-widget='collapse', data-toggle='tooltip',title='collapse').btn.btn-box-tool
						i.fa.fa-minus
					
			.box-body
				form(role='form',method='post' action='/sembako/add' enctype='multipart/form-data')
					.row
						
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| Alert! 
										| !{messages.msg_error}
								.form-group
									label
										| Nama Barang
									input(type='text',name='nama_barang',placeholder='Enter Nama Barang', autofocus).form-control
								.form-group
									label
										| Kode Barang
									input(type='text',name='kode',placeholder='Enter kode').form-control
								.form-group
									label
										| Kategori
									select(type="text" name="kategori" placeholder="Masukan Kategori", required).form-control
										option(value="")
										option(value="Bahan Pokok") Bahan Pokok
										option(value="Bahan Bakar") Bahan Bakar
										option(value="Makanan Ringan") Makanan Ringan
										option(value="Minyak") Minyak
										option(value="Telur") Telur
										option(value="Gula") Gula
										option(value="Susu") Susu
										option(value="Daging") Daging
										option(value="Saus") Saus
										option(value="Kecap") Kecap
								.form-group
									label
										| Harga
									input(type='text',name='harga',placeholder='Enter Harga').form-control
								.form-group
									label
										| Stok
									input(type='text',name='stok',placeholder='Enter Stok').form-control
								.form-group
									label
										| Gambar 
									input(type='file',name='gambar').form-control
							.box-footer
								button(type='submit').btn.btn-primary
									| Submit
								a(href='/sembako').btn.btn-primary.pull-right
									| Back