aside.main-sidebar
	section.sidebar
		.user-panel
			.pull-left.image
				img(src='/adminlte/dist/img/user2-160x160.jpg',alt='User Image').img-circle
			.pull-left.info
				p Putri Dea Apriliana
				a(href='#')
					i.fa.fa-circle.text-success 
					| Online
		ul.sidebar-menu
			li.header
				| Main Navigation
			li.treeview
				a(href='/sembako')
					i.fa.fa-th
					span
						| Daftar Barang